@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

body {
  color: white;
  font-family: "Fira Code", sans-serif;
  background-color:#ffffff;
}

.project_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px; /* Increased gap for better spacing */
}

h1 {
  text-align: center;
  margin-top: 0;
}

.project {
  z-index: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  margin: 16px;
  padding: 20px;
  border: #353535 1px solid;
  background-color: #1c1b1f;
  color: #e6e1e5;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  height: 380px; /* Consistent height */
  overflow: hidden;
}

.project:hover {
  background-color: #292a2f;
  border-radius: 20px;
  scale: 1.02;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}

.project_list .project .project_image {
  border-radius: 16px;
  width: 100%;
}

.project .tag_list {
  margin: 0;
}

.project .tag {
  display: inline-block;
  background-color: #a8c8ff;
  color: #003061;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 2px;
}

.project .tag:hover {
  border-radius: 8px;
  scale: 1.1;
}

.project .title {
  font-family: "Fira Code", sans-serif;
  color: white;
  font-size: 1.6rem;
  margin: 8px 0;
  font-style: italic;
}


.project .year {
  position: absolute;
  font-family: "Fira Code", sans-serif;
  top: -10px; /* Adjusted top position */
  right: 10px;
  padding: 8px 14px;
  background: linear-gradient(45deg, #000000, #696969);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  font-size: 1rem;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease-in;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.project .year:hover {
  scale: 1.1;
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.project .tech-stack {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 8px 14px;
  background: linear-gradient(45deg, #fafafa, #4f81f5); /* Green gradient */
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 20px;
  font-size: 0.9rem;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease-in;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.project .tech-stack:hover {
  scale: 1.1;
  transform: translateY(-3px); /* Floating effect */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 750px) {
  .project {
    width: 90%;
  }

  .project_list .project .project_image {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  color: white;
}

.modal {
  color: black;
}

b {
  font-family: "Poppins";
}
